<mat-toolbar color="primary">
    <span>My Application</span>
    <div class="container">
        <div mat-dialog-actions align="right">
            <button mat-raised-button class="m-1" color="accent" routerLink="/register">Register</button>
            <button mat-raised-button class="m-1" color="accent" routerLink="/login">Login</button>
            <button mat-raised-button class="m-1" color="accent" routerLink="/customer-details">Customer Details</button>
        </div>
    </div>
</mat-toolbar>