<div class="container mt-2">
    <div mat-dialog-actions align="end">
        <button mat-raised-button class="m-1" color="accent" routerLink="/create-employee">Create Employee</button>
    </div>
    <div class="card p-5 mt-z">
        <p>Employee List</p>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- employeeName Column -->
            <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
            </ng-container>

            <!-- employeeContact Column -->
            <ng-container matColumnDef="employeeContact">
                <th mat-header-cell *matHeaderCellDef> Employee Contact </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeContact}} </td>
            </ng-container>

            <!-- employeeAddress Column -->
            <ng-container matColumnDef="employeeAddress">
                <th mat-header-cell *matHeaderCellDef> Employee Address </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeAddress}} </td>
            </ng-container>

            <!-- employeeDepartment Column -->
            <ng-container matColumnDef="employeeDepartment">
                <th mat-header-cell *matHeaderCellDef> Employee Department </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeDepartment}} </td>
            </ng-container>


            <!-- employeeGender Column -->
            <ng-container matColumnDef="employeeGender">
                <th mat-header-cell *matHeaderCellDef> Employee Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeAddress}} </td>
            </ng-container>

            <!-- employeeSkilLs Column -->
            <ng-container matColumnDef="employeeSkills">
                <th mat-header-cell *matHeaderCellDef> Employee Skills </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeSkills}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>

<!-- [checked]="employee.employeeGender=='M' " -->