<div class="container mt-5">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
        <mat-grid-tile>
            <img src="../../assets/images/front.jpg" style="cursor: pointer;" routerLink="/create-employee">
        </mat-grid-tile>
        <mat-grid-tile><img src="../../assets/images/image 2.jpg"></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/images/image 2.jpg"></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/images/image 2.jpg"></mat-grid-tile>
    </mat-grid-list>
</div>